#---------------------------------------------------------------------
# GitHub Action CI PyLinter and PyTest Basics
#
# Version      Date        Info
# 1.0          2022        Initial Version
#
# Made by Andrey Maksyuta Python Copyleft (c) 2022
#---------------------------------------------------------------------

# My app CI name
name: App-My-CI-Test
env:
  APPLICATION_NAME    : "app-my"
  APPLICATION_VERSION : "app-my-ver-${{ github.sha }}"

# Start checking code on all branches
on: [push]

# Start Pylint check for current python app-my code
jobs:
  pylint_check:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10"]
    steps:
    - name: Git clone ${{ env.APPLICATION_NAME }} repo
      uses: actions/checkout@v1
    - name: List current folder after clone with version "${{ env.APPLICATION_VERSION }}"
      run : ls -la
    - name: Set up Python ${{ matrix.python-version }} for Pylint
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies for Pylint
      run: |
        python -m pip install --upgrade pip
        pip install pylint
    - name: Analysing the code with Pylint
      run: |
        echo "Start pylint for app-my code"
        pylint $(git ls-files '*.py') --disable=missing-docstring
        echo "End pylint"

# Start Pytest check for python app-my        
  pytest_check:
    runs-on: ubuntu-latest
# Run steps in paralle
#    needs: [pylint_check]
    strategy:
      matrix:
        python-version: ["3.10"]
    steps:
    - name: Git clone ${{ env.APPLICATION_NAME }} repo
      uses: actions/checkout@v1
    - name: List current folder after clone with version "${{ env.APPLICATION_VERSION }}"
      run : ls -la
    - name: Set up Python ${{ matrix.python-version }} for Pytest
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies for Pytest
      run: |
        python -m pip install --upgrade pip
        pip install pytest
#        pip install -r requirements.txt
#        pip install -e .
    - name: Test the code with Pytest
      run: |
        echo "Start pytest for ${{ env.APPLICATION_NAME }} code"
        if [ -f test_app.py ]; then python -m pytest --import-mode=append test_app.py; fi
        echo "End pytest"
    
    
  
